main {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
}

#shop_top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 4rem;
    padding: 0 5% 0 1rem;

    background-color: var(--color-accents);
    box-shadow: 0 0.2rem 0.2em rgba(0,0,0, 0.4);
}

#search_bar_container {
    height: 60%;

    display: flex;
    align-items: center;
}

#search_bar {
    height: 100%;

    padding: 0 0.75em;
    
    border: 0;
    border-radius: 0.5em 0 0 0.5em;

    background-color: var(--color-background);

    font-size: 1.25em;
}

#search_bar_button {
    height: 100%;
    padding: 0 0.5em;

    border: 0;
    border-radius: 0 0.75em 0.75em 0;

    background-color: var(--color-accents-contrast);
    cursor: pointer;

    color: white;
}

#search_bar_button:hover {
    background-color: var(--color-accents-contrast-hover);
}

.the_shop_title_container {
    display: flex;
    align-items: center;
    gap: 0.5em;

    font-size: 1.25em;
    letter-spacing: 2px;
    color: white;
}

#products_list {
    display: grid;
    gap: 7.5vh 5%;

    padding: 5vh 5% 10vh 5%;
}

@media (min-width: 992px) {
    #products_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #products_list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767px) {
    #products_list {
        grid-template-columns: 1fr;
    }
}

.products_list_loading_products_error_information,
#products_list_searching_products_no_products_information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    padding: 5vh 0;
    
    text-align: center;
    font-size: 2rem;
}

/* ===== SINGLE PRODUCT ITEM ===== */

.products_list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    background-color: var(--color-tiles);
    box-shadow: 0 0 0.3em 0.1em rgba(0,0,0, 0.25);
    border-radius: 0.5em;
}

.products_list_item div {
    display: flex;
}

/* --- image and product name --- */

.products_list_item_image {
    max-width: 4em;
    height: auto;

    border-radius: 0.5em 0 0 0;
}

.products_list_item_name {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.products_list_item_name > span:nth-of-type(1) {
    font-size: 1.25em;
}

.products_list_item_name > span:nth-of-type(2) {
    font-style: italic;
}

/* --- description --- */

.products_list_item > div:nth-of-type(2) {
    padding: 0 0.75rem;
    
    font-size: 0.75em;
}

/* --- item price and controls --- */

.products_list_item > div:nth-of-type(3) {
    width: 100%;
}

.products_list_item_price {
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(202, 172, 0);
    font-size: 1.25em;
}

.products_list_item_quantity_input {
    border: solid 0.15em var(--color-accents-hover);
    border-right: 0;
    border-radius: 0.5em 0 0 0.5em;

    font-size: 1em;
    text-align: center;
    color: var(--color-accents-hover);
}

.products_list_item_quantity_input::-webkit-outer-spin-button,
.products_list_item_quantity_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.products_list_item_quantity_controls_container {
    flex-direction: column;
}

.products_list_item_quantity_controls_container span {
    height: 50%;
    width: 1.25em;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;
    font-size: 1.25em;
    color: white;
}

.products_list_item_quantity_controls_container > span:nth-of-type(1):focus,
.products_list_item_quantity_controls_container > span:nth-of-type(2):focus {
    background-color: var(--color-accents-contrast);
    z-index: 9;
}

.products_list_item_quantity_controls_container > span:nth-of-type(1) {
    background-color: var(--color-accents-hover);
}

.products_list_item_quantity_controls_container > span:nth-of-type(2) {
    background-color: var(--color-accents);
}

.products_list_item_add_to_cart_btn {
    border: 0;
    border-radius: 0 0.5em 0.5em 0;

    padding: 0 0.5em;

    background-color: var(--color-accents-contrast);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.products_list_item_add_to_cart_btn:hover {
    background-color: rgb(202, 172, 0);
}

.products_list_item_add_to_cart_btn i {
    color: white;
}